<div class="flex flex-col flex-1 grow bg-forest-green-50 text-cream p-4 text-center">
  <h1 class="text-3xl">Calendar</h1>
  <p>More coming soon.</p>
  <h2 class="mt-4 text-2xl"><%= Date::MONTHNAMES[@date.month] %></h2>
  <div id="calendar-header" class="mt-10 flex items-center justify-center text-forest-green-500">
    <% (0..6).each do |i| %>
      <div class="text-cream font-bold w-32 mb-2"><%= day_of_week(i) %></div>
    <% end %>
  </div>
  <div class="flex flex-col items-center justify-center text-forest-green-500" id="calendar">
    <% @weeks.each_with_index do |week, i| %>
      <div class="flex week-<%= i %>">
      <% week.each_with_index do |d, j| %>
        <div class="h-32 w-32 pt-2 border border-forest-green-500 <%= d.month == @date.month ? "bg-cream" : "bg-gray-100 text-gray-300" %> week-<%= i %>-day-<%= j %>">
          <span><%= d.day %></span>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
