<div>
  <h1>New address</h1>

  <%= form_with model: [:user, @form], html: { class: "flex flex-col space-y-2" } do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="flex items-center space-x-2">
      <%= f.label :address1, "Address 1", class: "w-24" %>
      <%= f.text_field :address1, class: "w-72" %>
      <% @form.errors.messages[:address1]&.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="flex items-center space-x-2">
      <%= f.label :address2, "Address 2", class: "w-24" %>
      <%= f.text_field :address2, class: "w-72" %>
    </div>

    <div class="flex items-center space-x-2">
      <%= f.label :city, class: "w-24" %>
      <%= f.text_field :city, class: "w-72" %>
      <% @form.errors.messages[:city]&.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <div class="flex items-center space-x-2">
      <%= f.label :state, class: "w-24" %>
      <%= f.select :state, AddressHelper::STATES, class: "w-72" %>
      <% @form.errors.messages[:state]&.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <div class="flex items-center space-x-2">
      <%= f.label :zip_code, class: "w-24" %>
      <%= f.text_field :zip_code, class: "w-72" %>
      <% @form.errors.messages[:zip_code]&.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= f.submit "Submit address", class: "btn" %>
    </div>
  <% end %>
</div>
