<header class="flex flex-col items-center space-y-2 mb-2">
  <h1 class="px-8 py-2 text-4xl leading-normal text-center">Greenmount West Community Association</h1>
  <nav>
    <ul class="flex flex-col text-lg text-center md:flex-row list-none space-x-2">
      <li><%= link_to "Your Board", board_path %></li>
      <li><%= link_to "Committees", committees_path %></li>
      <li><%= link_to "Calendar", calendar_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
