<header class="flex flex-col items-center mt-10 space-y-2">
  <h1 class="text-3xl">Greenmount West Community Association</h1>
  <nav>
    <ul class="flex list-none space-x-2">
      <li class="w-36 border-black border-b-2 pb-2 hover:border-b-4"><%= link_to "Community", to: "#" %></li>
      <li class="w-36 border-black border-b-2 pb-2 hover:border-b-4"><%= link_to "Living Here", to: "#" %></li>
      <li class="w-36 border-black border-b-2 pb-2 hover:border-b-4"><%= link_to "Events", to: "#" %></li>
      <li class="w-36 border-black border-b-2 pb-2 hover:border-b-4"><%= link_to "Art", to: "#" %></li>
      <li class="w-36 border-black border-b-2 pb-2 hover:border-b-4"><%= link_to "Membership", to: "#" %></li>
    </ul>
  </nav>
</header>
