<div id="socials" class="flex flex-col grow items-center justify-center">
  <p>Stay in touch</p>
  <ul class="flex list-none space-x-1">
    <li>
      <%= link_to "#" do %>
        <i class="fa-brands fa-facebook-f"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa-brands fa-twitter"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa-brands fa-instagram"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa-brands fa-flickr"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa-brands fa-youtube"></i>
      <% end %>
    </li>
  </ul>
</div>
